{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <div class="post on-list">
        <h1 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
          {{ if .Params.date }}
          <span class="post-date">
            {{ .Date.Format "2006-01-02" }}
          </span>
          {{ end }}
          {{ with .Params.Author }}
            <span class="post-author">:: {{ . }}</span>
          {{ end }}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}


        <div class="post-content">
            {{ if .Params.summary }}
              {{ .Params.summary }}
            {{ else }}
              {{ .Content }}
            {{ end }}
        </div>

        {{ if or .Truncated .Params.readmore .Params.summary}}
          <!-- This <div> includes a read more link, but only if the summary is truncated... -->
          <div>
            <a href="{{ .RelPermalink }}">
              {{ if .Params.readmore }}
              {{ .Params.readmore }}
              {{ else }}
              read more…
              {{ end }}
            </a>

          </div>
        {{ end }}


      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
