<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
  <div class="logo">
    {{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}F.U.C.K.{{ end }}
  </div>
</a>
